/* footer permanece igual */
footer {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

footer .social-icons a {
    margin: 0 10px;
    font-weight: bold;
    color: #81ff4f;
}