/* Estilos para la sección de Proyectos */
.projects {
    text-align: center;
    color: #fff; /* Color del texto blanco para el contraste */
    background-color: transparent; /* Fondo oscuro de la sección */
    padding: 50px 20px;
}

.projects h1 {
    color: #fff; /* Título principal en blanco */
    font-size: 2.5em;
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    /* Crea una cuadrícula con columnas que se ajustan automáticamente */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto; /* Centra la cuadrícula */
}

.project-card {
    background-color: #212121; /* Fondo de las tarjetas en un gris oscuro */
    border-radius: 10px;
    padding: 25px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Indica que la tarjeta es clicable */
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin distorsión */
    border-radius: 8px;
}

.project-card h3 {
    font-size: 1.2em;
    color: #ff5252; /* Color rojo para los títulos, puedes cambiarlo */
    margin-top: 20px;
    margin-bottom: 5px;
}

.project-card p {
    font-size: 0.9em;
    color: #ccc;
    line-height: 1.6;
}